* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grey900: hsl(0, 0%, 8%);
  --grey800: hsl(0, 0%, 12%);
  --grey700: hsl(0, 0%, 20%);
  --green: hsl(75, 94%, 57%);
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  line-height: 1.5;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey900);
}
.container {
  width: 384px;
  background-color: var(--grey800);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
  width: 100%; /*herdando o tamanho do pai*/
}
.links a {
  background-color: var(--grey700);
  padding: 14px;
  border-radius: 9px;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 100%; /*ocupa a largura total*/
}
h1 {
  font-family: "Inter";
  font-weight: 500;
  color: white;
}
.location {
  font-family: "Inter";
  color: var(--green);
  font-size: 15px;
  font-weight: 400;
}
.texto{
    font-family: "Inter";
    color: white;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}