* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  line-height: 1.5;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container {
  width: 384px;
  background-color: aqua;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.links a{
    background-color: black;
    padding: 14px;
    border-radius: 9px;
}
